html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    
  }
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  padding: 0;
}
nav ul li{
  background-color: red;
  padding: 5px 10px;
  
}
